%h1 #{@create_or_edit} Event

- if @message
	%h3=@message

%form{ :action => $base_url + @submit_relative_url, :method => "post"}
	%fieldset
		%div
			%label Type
			%select{:name => "event_type"}
				- $event_types.each do |type|
					%option{:value => type, :selected => @event ? @event.event_type == type : false}= type
		%div
			%label Description:
			%input{:type => "text", :name =>"description", :value => @event ? @event.description : ""}
		%div
			%label Corner value (millions):
			%input{:type => "text", :name =>"corner_value", :value => @event ? @event.corner_value : ""}
		%div{:class => "form-group"}
			%label When (Eve time; leave blank to set to current time):
			%div{:class=>'input-group date', :id=>'event_time', "data-date-format"=>"YYYY-MM-DD HH:mm"}
				%input{:class=>'form-control', :type=>"text", :name=>"event_time", :id=>'event_time'}
				%span{:class=>"input-group-addon"}
					%span{:class=>"glyphicon glyphicon-calendar"}
		%div
			%label Characters (one per line, can paste from fleet window):
			%textarea{:name =>"characters", :id => "character_list", :rows => "12", :cols => "50"}
				- if @event
					- @event.characters.each do |character|
						=character.name + "&#x000A;"
		%div
			%label Or search for characters
			%input{:type => "text", :name =>"search_character", :id => "search_character"}
			%button{:type => "button", :class => "btn", :onclick => "addCharacterClicked()"} Add Character

		%input{:type => "hidden", :name => "event_id", :value => @event ? @event.id : ""}

		%button{:type => "submit" , :class => "btn"} #{@create_or_edit + " Event"}

:javascript

	function addCharacterClicked() {
		value = $("#character_list").val();
		if (value != "") {
			value += "\n";
		}
		value += $("#search_character").val();
		$("#character_list").val(value);
		return false;
	}

	function pageFunction() {
		characterArray = #{@charactersArray};
		characterMap = $.map(characterArray, function(character) { return { value: character }; });
		var charactersEngine = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			local: characterMap});

		charactersEngine.initialize();
		$('#search_character').typeahead({
			minLength: 1,
			highlight: true,
		},
		{
			name: 'characters',
			source: charactersEngine.ttAdapter()
		});
		$('#event_time').datetimepicker();
		$('#event_time').data("DateTimePicker").setDate("#{@event ? @event.getFormatDateTime() : ''}");
	}



