%table
	%tr
		%th Type
		%th Description
		%th Corner Value
		%th Characters
		%th When
		%th Submitted By
		-if @show_approver
			%th Approved by
		-if @allow_edit
			%th
		-if @allow_approval
			%th
	- @events.each do |event|
		%tr
			%td= event.event_type
			%td= event.description
			%td= event.corner_value
			%td 
				- doneRow = false
				- event.characters.each do |character|
					- if doneRow
						,
					- doneRow = true
					%span.tooltipable{:title => character.player.name, "data-toggle" => "tooltip", "data-placement" => "top"} 
						=character.name

			%td= event.getFormatDateTime()
			%td= event.submission.player.name
			-if @show_approver
				%td= event.approval ? event.approval.player.name : "N/A"
			-if @allow_edit
				%td
					%a{:href => $base_url + '/edit_event/' + event.id.to_s + "/"} Edit
			-if @allow_approval
				%td
					%a{:href => $base_url + '/approve_event/' + event.id.to_s + "/"} Approve
