!!!
%html{:lang => "en"}
	%head
		%meta{:charset => "utf-8"}/
		%title Point Tracker
		%link{:href => $base_url + "/bootstrap/css/bootstrap.css", :rel => "stylesheet"}/
		-# Taking this CSS strangeness from https://github.com/czarneckid/twitter-bootstrap-examples-haml/blob/master/views/starter-template.haml
		:css
			body {
				padding-top: 110px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		-# %link{:href => "/css/bootstrap-responsive.css", :rel => "stylesheet"}/
		%link{:href => $base_url + "/css/tracker.css", :rel => "stylesheet"}/
		%link{:href => $base_url + "/css/typeaheadjs.css", :rel => "stylesheet"}/
		%link{:href => $base_url + "/css/bootstrap-datetimepicker.min.css", :rel => "stylesheet"}/
	%body
		.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
			.container
				.navbar-header
					%button.navbar-toggle{"type" => "button",  "data-target" => ".nav-collapse", "data-toggle" => "collapse"}
						%span.sr-only Toggle navigation
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand{:href => $base_url + "/"} #{$corp} Point Tracker
					.collapse.navbar-collapse
						%ul.nav.navbar-nav
							%li 
								-# class=active
								%a{:href => $base_url + "/"} Home (This Month)
							%li
								%a{:href => $base_url + "/add_event/"} Add Event
							%li
								%a{:href => $base_url + "/my/"} My Page
							%li
								%a{:href => $base_url + "/login/"} Login
							- if @isAdmin
								%li
									%a{:href => $base_url + "/admin/"} Admin
					/ /.nav-collapse
		.container
			#content
				= yield
			#footer
				Page generated at #{@now} for #{@logged_in_player.name}
	%script{:src => $base_url + "/js/jquery.js"}
	%script{:src => $base_url + "/bootstrap/js/bootstrap.min.js"}
	%script{:src => $base_url + "/js/typeahead.bundle.min.js"}
	%script{:src => $base_url + "/js/moment.min.js"}
	%script{:src => $base_url + "/js/bootstrap-datetimepicker.min.js"}
	:javascript
		$('.tooltipable').tooltip();
		if (typeof(pageFunction) == "function") {
			pageFunction();
		}
		if (typeof CCPEVE != 'undefined') {
			CCPEVE.requestTrust("#{$trusted_url_base}");
		}
		
