
%h2
	#{@month} #{@year}

%h3 This month:
- if @previous_link
	%a{:href => @previous_link[:url]} Previous Month (#{@previous_link[:month]})
- if @next_link
	%a{:href => @next_link[:url]} Next Month (#{@next_link[:month]})
%div Total estimated isk: #{@isk_total} million
%div Total points earned: #{@point_total}
%div Average isk contributed per point: #{@isk_point_average} million



= haml :events_partial
%div Plus #{@pendingEventCount} pending events.
%div
	%a{:href => $base_url + '/add_event/'} [Add Event]

%h3
	Point tallies (
	=@players.count
	players )
%table
	%tr
		%th Player
		%th Events
		- $event_short_names.each do |k, _v|
			%th= k
		%th Points
		%th %
	- @players.each do |player|
		%tr
			%td= player.name
			%td= player.event_count_from(@events)
			- $event_short_names.each do |_k, v|
				%td= player.event_count_from(events_of_type(@events, v)) if player.event_count_from(events_of_type(@events, v)) > 0
			%td= player.points_from(@events, @config.minimum_point_value)
			%td= player.points_from(@events, @config.minimum_point_value) * 100 / (@max_points != 0 ? @max_points : 1)
