
%h2
	#{@month} #{@year}

%h3 This month:
- if @previous_url
	%a{:href => @previous_url} Previous Month (#{@previous_month})
- if @next_url
	%a{:href => @next_url} Next Month (#{@next_month})
%div Total estimated isk: #{@isk_total}
%div Total points earned: #{@point_total}
%div Average isk contributed per point: #{@isk_point_average}



= haml :events_partial
%div Plus #{@pendingEventCount} pending events.
%div
	%a{:href => $base_url + '/add_event/'} [Add Event]

%h3 
	Point tallies (
	=@players.count
	players )
%table
	%tr
		%th Player
		%th Events
		%th Points
	- @players.each do |player|
		%tr
			%td= player.name
			%td= player.getEventsFrom(@events)
			%td= player.getPointsFrom(@events)

