
%h2
	#{@month} #{@year}

%h3 This month:
- if @previous_link
	%a{:href => @previous_link[:url]} Previous Month (#{@previous_link[:month]})
- if @next_link
	%a{:href => @next_link[:url]} Next Month (#{@next_link[:month]})
%form{ :action => @post_url, :method => "post"}
	%fieldset
		%label Pool:
		%input{:type => "text", :name =>"pool", :value => @pool}
		%label Expenses:
		%input{:type => "text", :name =>"expenses", :value => @expenses}
		%input{:type => "submit", :value => "Save"}

%h3
	Pool size:
	=@pool_less_expenses

	Modified Point Value:textile
	=@modified_point_value


%table
	%tr
		%th Player
		%th Points
		%th C5 Points
		%th C5 Point Bonus
		%th Adjusted Points
		%th Payout
	%tr
		%td SRP
		%td= @escalation_day_count
		%td= @escalation_day_count
		%td= @max_escalation_bonus
		%td= @escalation_day_count * (1 + @max_escalation_bonus)
		%td= @srp_payout
	- @players.each do |player|
		%tr
			%td= player[:name]
			%td= player[:points]
			%td= player[:escalations]
			%td= player[:escalation_bonus]
			%td= player[:adjusted_points]
			%td= player[:payout]
